:root{
    --primary-green: #8faf9d;
    --dart-green: #66827a;
    --pastel-pink: #ea9ca1;
    --pastel-purple: #cfb4ea;
    --pastel-blue: #add8f2;
    --peach-color: #fab9a4;
    --mint-color: #bbdfca;
    --pastel-yellow: #f9d27f;
    --beige-color: #ede0c9;
    --cream-color: #f7f2e8;
    --second-cream-color: #fbf6ef;
    --primary-text-color: #4c6b62;
    --secondary-text: #8c908e;
    --discount-color: #ed8a9c;
    --color-purple: #d6caed;
    --light-green: #c0cfdb;
    --green-btn: #95ADA2;
    --light-green-btn: #b7ddc9;
    --bg-dark-green: #819f92;
    --purple-btn: #B4A0D4;

}