@import url("fontiran.css");
@import url("colors.css");

* {
    font-family: "IRANSansX";
}

.cart_shdow {
    box-shadow: 0 0 3px 2px rgb(239, 238, 238);
}

.in-fa {
    font-family: "IRANSansXFaNum";
}

.transition_fast {
    transition: all 0.2s ease;
}

.transition_normal {
    transition: all 0.3s ease;
}

.transition_slow {
    transition: all 0.5s ease;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
input[type="checkbox"]:checked {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}
input[type="checkbox"]:checked::after {
    content: "✔️";
    color: var(--pastel-purple);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
}
